<div class="container">
    <div class="container">
        <div class="card bg-dark text-white">
            <img class="card-img" src="{{mainUser.image}}" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="card">
        <p>username: {{mainUser.username}}</p>

    </div>
    <div class="container">
        <div>
            <p style="text-decoration: underline;font-size: 120%;">Repositories: </p>
        </div>
        <div *ngFor='let proj of userRepos; let i = index'>
            <div *ngIf="i%2 === 0; else elseBlock">{{userRepos[i]}}</div>
            <ng-template #elseBlock>{{userRepos[i]}}</ng-template>
        </div>

    </div>
</div>